{% extends 'Layout.html' %}
{% block title %}
Sign-in | Forum Mahasiswa
{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="ui main container">
    <div class="ui centered grid">
        <div class="six wide tablet six wide computer column">
            <div id="form-sign_in">
                {% if error_message != '' %}
                <div class="ui error message" id="message">
                    <i class="close icon"></i>
                    <p class="header">{{error_message}}</p>
                </div>
                {% endif %}
                <form action="/forum/user/sign_in" method="post">
                    {% csrf_token %}
                    <div class="ui form warning segment">
                        <img src="{% static 'images/logos/5.png'%}" class="ui centered mini image">
                        <h2 class="title-kategori"
                            style="text-align: center; margin-top:-2px; font-family: 'Rajdhani', sans-serif;">SIGN
                            IN</h2>
                        <br>
                        <br>
                        <div class="field">
                            <label>Email</label>
                            <div class="ui left labeled icon input">
                                <input placeholder="Example@gmail.com" type="email" id="email" name="email" autocomplete="off">
                            </div>
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <div class="ui left labeled icon input">
                                <input placeholder="Password" type="password" id="password" name="password">
                            </div>
                        </div>
                        <br>
                        <input type="submit" class="ui right floated primary button" value="Sign In"/>
                        <p>Forgot password?<a href="#form-forgot" id="btn-forgot"> Click here to reset</a></p>
                        <span>Don't have an account?<a href="/forum/user/register"> Sign up</a></span>
                        <br><br>
                    </div>
                </form>
            </div>
            <form method="post" id="form-forgot" hidden>
                {% csrf_token %}
                <div class="ui form warning segment">
                    <img src="{% static 'images/logos/5.png'%}" class="ui centered mini image">
                    <h2 class="title-kategori"
                        style="text-align: center; margin-top:-2px; font-family: 'Rajdhani', sans-serif;">Forgot
                        Password</h2>
                    <br>
                    <br>
                    <div class="ui center aligned grid">
                        <div class="" id="loader"></div>
                    </div>
                    <br>
                    <div class="field">
                        <label>Enter your email address</label>
                        <div class="ui left labeled icon input">
                            <input placeholder="Example@gmail.com" type="email" id="email-forgot" autocomplete="off">
                        </div>
                    </div>
                    <br>
                    <input type="submit" class="primary ui right floated button" value="Confirm"/>
                    <span>Have an account?<a href="#form-sign_in" id="btn-sign_in"> Click here to sign in</a></span>
                    <br><br>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade');
  });
$(document).ready(function(){
    $('#btn-forgot').click(function(){
        $("html, body").animate({ scrollTop: 0 }, "slow");
        $('#message').hide();
        $('#form-forgot').show();
        $('#form-sign_in').hide();
    });
    $('#btn-sign_in').click(function(){
         $("html, body").animate({ scrollTop: 0 }, "slow");
        $('#form-forgot').hide();
        $('#form-sign_in').show();
    });

    $(document).on('submit', '#form-forgot', function(e){
         $('#loader').attr('class','ui medium active inline loader');
         e.preventDefault();
         $.ajax({
            type: 'POST',
            url: '/forum/user/forgot_password',
            data: {
                email : $('#email-forgot').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success:function(m){
                if (m == 'null'){
                    $.uiAlert({
                        textHead: 'Sorry!', // header
                        text: "Your email wasn't registered, please register", // Text
                        bgcolor: '#F2711C', // background-color
                        textcolor: '#fff', // color
                        position: 'top-center',// position . top And bottom ||  left / center / right
                        icon: 'warning sign', // icon in semantic-UI
                        time: 1, // time
                    })
                }
                else{
                    $.uiAlert({
                        textHead: 'Check your email!', // header
                        text: 'we have sent link, to change password', // Text
                        bgcolor: '#19c3aa', // background-color
                        textcolor: '#fff', // color
                        position: 'top-center',// position . top And bottom ||  left / center / right
                        icon: 'checkmark box', // icon in semantic-UI
                        time: 10, // time
                    })
                    $('#email-forgot').val('');
                }
                $('#loader').attr('class','');
            },
            error:function(m){

            }

        });
    });
});















</script>


{% endblock %}